<div id="tab_container">
		<h4 class="alert_info">欢迎导入设施区域数据</h4>
		<article class="module width_full">
			<form action="admin/importShp" method="post" enctype="multipart/form-data">
				<header>
					<h3>Import Shape File</h3>
				</header>
				<div class="module_content" style="width:80%;min-width:500px">
					<fieldset>
						<label>数据版本(必填)</label>
						<!-- <textarea rows="4" name="remark" id="remark"></textarea> -->
						<input type="text" style="width: 60%;" name="dataVersion" id="dataVersion">
					</fieldset>
					<fieldset>
						<label style="width: 100%;">添加设施区域Shape文件
							<span style="color: red; margin-left: 10px;">(注：请将.dbf .shp .shx文件打包成.zip后上传)</span>
						</label>
						<input type="file" style="width:80%;visibility:hidden" id="shpfiles" name="shpfiles">
						<input type="text" style="width:45%;float:left;margin-top:-12px"  id="shpName" readonly>
						<input type="button" style="width:15%;float:left;margin-top:-12px" id="chooseShp" class="alt_btn" value="选择文件">
						<span class='mg4'></span>
					</fieldset>
				</div>
				<footer>
					<div class="submit_link" style="float:left;padding-left:20px">
						<input type="button" value="提交" class="alt_btn" id="submit"> 
						<input type="reset" value="重置">
						<span class='mg3'></span>
					</div>
				</footer>
			</form>
		</article>
</div>
		<!-- end of post new article -->
		<div class="spacer"></div>