<!-- end of sidebar -->
		<article class="module width_full">
					<header><h3>任务详细信息</h3></header>
					<div class="module_content">
						<article class="stats_overview1">
							<div class="">
								<p>任务名称：{{task.name}}</p>
								<p>任务描述：{{task.remark}}</p>
								<p>所属任务清单：{{task.filename}}</p>
								<p>创建时间：{{task.createtime}}</p>
								<p>创建人：{{task.userid}}</p>
							</div>
						</article>
						<div class="clear"></div>
					</div>
		</article><!-- end of stats article -->
		